{% extends 'pages/base.html' %}{% load crispy_forms_tags %}{% block content %}
<div class="container col-lg-6 mg-t-10">
  <div class="card">
    <div class="card-header btn btn-primary">
      <h3>Add Image</h3>
    </div>
    <div class="card-body">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{form | crispy}}

        <div class="float-right">
          <button class="btn btn-primary" type="submit">submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- content -->

{% endblock %}
